$main-text-cl: #757575;
$accent-cl: #2196f3;
$white: #ffffff;
$black: #212121;
$dark-bg: #2f303a;
$light-gray: #f5f4fa;
$white-1: rgba(255, 255, 255, 0.6);
$white-2: rgba(255, 255, 255, 0.1);
$gray: #afb1b8;

$main-font: "Roboto", sans-serif;
