.hero {
  max-width: 480px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: $dark-bg;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile/hero_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile/hero@2x.jpg);
  }

  &-box {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  &-title {
    margin-bottom: 30px;
    margin-top: 0px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white;
  }
  &-btn {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include for-size(tablet) {
    max-width: 768px;
    min-height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/hero.tablet.jpg);

    &-box {
      max-width: 360px;
    }
    &-title {
      font-size: 26px;
      line-height: 1.62;
    }
    &-btn {
      padding-right: 32px;
      padding-left: 32px;
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet/hero.tablet@2x.jpg);
    }
  }
  @include for-size(desktop) {
    max-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/hero.desktop.jpg);
    &-box {
      max-width: 700px;
      padding-top: 200px;
      padding-bottom: 200px;
    }
    &-title {
      font-size: 44px;
      line-height: 1.86;
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/desktop/hero.desktop@2x.jpg);
    }
  }
}
